
@{
    ViewBag.Title = "Go";
}

@if (TempData.ContainsKey("Inexistente"))
{
    <script>
        alert("O Id @TempData["Inexistente"] não existe ");
    </script>
}


@using ZipLink.Models
@model List<Link>

<form action="/links/go" method="get">
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="filtro" placeholder="Insira seu texto..." />
    <button class="btn btn-primary"> Pesquisar </button>
</form>

@if(Model != null)
    {

<table class="table table-bordered table-striped">
    <tr class="table-header">
        <th>Id</th>
        <th>Descrição</th>
        <th>Visitas</th>
        <th>Última Visita</th>
        <th>Habilitado</th>
        <th>Go</th>
    </tr>




    }

    @foreach (Link link in Model)
    {
        <tr>
            <td>@link.Id</td>
            <td>@link.Description</td>
            <td>@link.Visits</td>
            <td>@link.LastVisit</td>
            <td>@link.Enabled</td>
            <td><a class="btn btn-primary" href="~/links/go/@link.Id"> Go </a></td>
        </tr>
    }


</table>
}


